src/XSD/Caixa/Manutencao_Cobranca_Bancaria_Externo.wsdl

<?xml version="1.0" encoding="UTF-8"?>
	<wsdl:definitions name="manutencao_cobranca_bancaria" targetNamespace="http://caixa.gov.br/sibar/manutencao_cobranca_bancaria/boleto/externo" xmlns:manutencaocobrancabancaria="http://caixa.gov.br/sibar/manutencao_cobranca_bancaria/boleto/externo" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:documentation>
    <wsdl:appinfo source="WMQI_APPINFO">
      <MRWSDLAppInfo imported="true">
        <binding hasEncoding="false" imported="true" name="manutencao_cobranca_bancariaSOAP" originalBindingStyle="document"/>
      </MRWSDLAppInfo>
    </wsdl:appinfo>
  </wsdl:documentation>
  <wsdl:types>
        <xsd:schema>
        	<xsd:import
        		namespace="http://caixa.gov.br/sibar/manutencao_cobranca_bancaria/boleto/externo"
        		schemaLocation="Manutencao_Cobranca_Bancaria_Boleto_Externo.xsd">
        	</xsd:import>
        </xsd:schema>
    </wsdl:types>
  <wsdl:message name="INCLUI_BOLETORequest">
    <wsdl:part element="manutencaocobrancabancaria:SERVICO_ENTRADA" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="INCLUI_BOLETOResponse">
    <wsdl:part element="manutencaocobrancabancaria:SERVICO_SAIDA" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="BAIXA_BOLETORequest">
    <wsdl:part element="manutencaocobrancabancaria:SERVICO_ENTRADA" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="BAIXA_BOLETOResponse">
    <wsdl:part element="manutencaocobrancabancaria:SERVICO_SAIDA" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="ALTERA_BOLETORequest">
    <wsdl:part element="manutencaocobrancabancaria:SERVICO_ENTRADA" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="ALTERA_BOLETOResponse">
    <wsdl:part element="manutencaocobrancabancaria:SERVICO_SAIDA" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="manutencao_cobranca_bancaria">
    <wsdl:operation name="INCLUI_BOLETO">
      <wsdl:input message="manutencaocobrancabancaria:INCLUI_BOLETORequest"/>
      <wsdl:output message="manutencaocobrancabancaria:INCLUI_BOLETOResponse"/>
    </wsdl:operation>
    <wsdl:operation name="BAIXA_BOLETO">
    	<wsdl:input message="manutencaocobrancabancaria:BAIXA_BOLETORequest"/>
    	<wsdl:output message="manutencaocobrancabancaria:BAIXA_BOLETOResponse"/>
    </wsdl:operation>
    <wsdl:operation name="ALTERA_BOLETO">
    	<wsdl:input message="manutencaocobrancabancaria:ALTERA_BOLETORequest"/>
    	<wsdl:output message="manutencaocobrancabancaria:ALTERA_BOLETOResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="manutencao_cobranca_bancariaSOAP" type="manutencaocobrancabancaria:manutencao_cobranca_bancaria">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="INCLUI_BOLETO">
      <soap:operation soapAction="IncluiBoleto"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BAIXA_BOLETO">
      <soap:operation soapAction="BaixaBoleto"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ALTERA_BOLETO">
      <soap:operation soapAction="AlteraBoleto"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="manutencao_cobranca_bancaria">
    <wsdl:port binding="manutencaocobrancabancaria:manutencao_cobranca_bancariaSOAP" name="manutencao_cobranca_bancariaSOAP">
      <soap:address location="http://des.barramento.caixa/sibar/ManutencaoCobrancaBancaria/Boleto/Externo"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>